@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Momo+Trust+Display&display=swap');




/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
 
/* GRID PRINCIPAL */
.container {
  display: grid;
  grid-template-columns: 30% 1fr; 
  height: 100vh;
  gap: 20px;
  padding: 20px;
  
}

/* SIDEBAR */
.sidebar {
  background: #000000;
  color: white;
  padding: 40px 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.sidebar h2 {
  margin-bottom: 25px;
  font-size: 60px;
  margin-left: 90px;    
  margin-bottom: 150px;
  font-family: "Bebas Neue", sans-serif;
}

/* FORM */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  font-size: 14px;
  opacity: 0.9;
  font-size: 20px;
  margin-left: 150px;
  letter-spacing: 2px;
  font-family: 'Cinzel', serif;
}

.login-form input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.login-form button {
  background: #000000;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  font-weight: bold;
}

.login-form button:hover {
  background: #ffffff;
  color: black;
}

/* IMAGEM */
.imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





